.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: none;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    }
    
.filters button {
        font-size: 18px;
        background-color: #FF5A5F;
         color: #FFFFFF;
         height: 48px;
         width: 20%;
         border: none;
         float: right;
         border-radius: 4px;
         margin-right: 30px;
         margin-top: 11px;
        }
.filters button:hover {
        opacity: 90%;
    }

.locations {
        height: 100%;
        width: 33%;
        border-right: solid 1px #DDDDDD;
        position: relative;
    }
.amenities {
        height: 100%;
        width: 33%;
        margin-left: -11%;
        position: relative;
    }

.filters h3 {
        font-weight: 600;
        align-content: center;
        padding: 0 0 0 20px;

}
.filters h4 {
        font-weight: 400;
        font-size: 14px;
        padding: 0 0 0px 20px;
        
} 
.popover{
        display: none;
        background-color: #FAFAFA;
        width: 100%;
        border: solid 1px #DDDDDD;
        border-radius: 4px;
        list-style: none;
        margin-top: -5.5%;
}
.popover ul h2 {
    font-size: 16px;
}
.locations:hover .popover{
    display: block;
}
.amenities:hover .popover{
    display: block;
}