header {
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(212, 212, 250);
    z-index: 2;
}
.headercontents{
    display: flex;
    gap: 10%;
    padding-top: 20px;
}
.logo{
    padding-left: 30px;
    cursor: pointer;
}
.logo img{
    margin-top: -35%;
    margin-left: -10%;
    width: 220px;
    height: 180px;
}
.search {
    display: flex;
    gap: 2px;
}
.search input {
    border: none;
    border: 1px solid #cccccc;
   width: 500px; 
   border-radius: 15px;
   height: 35px;
   padding-left: 16px;
}
header .search button{
    border: none;
    cursor: pointer;
    color: rgb(22, 12, 119);
    background-color: rgb(255, 255, 255);
    padding: 3px 10px 3px 10px;
    height: 5vh;
}

.headeraccess{
    padding-right: 40px;
    display: flex;
    gap: 100px;
}
.aibutton button {
    padding: 10px;
    border: none;
    background-color: rgb(22, 12, 119);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.icons {
    display: flex;
    gap: 20px;
    margin-left: -40px;
}
.Profile a i {
 color: rgb(73, 72, 72);
 cursor: pointer;
 text-decoration: none;
 border: none;
 background-color: transparent;
 padding: 3px;
}
.Profile a i:hover {
    border-radius: 20px;
    background-color: rgba(209, 209, 250, 0.418);
   }
.Profile a i{
    font-size: 25px;
}
